

a:link {
  color: currentColor;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: currentColor;
  text-decoration: none;
}

#returnOnTop{
  position: fixed;
  bottom: 0;
  right: 0;
  display: block;
  width: 50px;
  height: 50px;
  margin: 1rem;
  margin-right: 1rem ;
  opacity: 0;
  transition: opacity 0.7s ;
}

#returnOnTop.show{
  opacity: 1;
}

.confirmation{
  max-width: 1200px;
  min-height: 70vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation > h6{
  font-size: large;
  font-weight: 500;
}